/* NEW TABS BACKGROUND */
@-moz-document url("about:newtab"), url("about:home"), url(about:privatebrowsing) {
	/* Sets background image and autoscale image to browser window. */
	body {
		background-image: url("wallpapers/desertPlanet.png") !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;
		background-attachment: fixed !important;
		background-position-x: center !important;
		background-position-y: bottom !important;
	}
}

/* CURSOR */
a, button, input[type="button"], input[type="submit"], [role="button"], .clickable {
	cursor: url("cursors/Link\ Select\ OLD.cur"), auto !important;
}

/* LICHESS */
@-moz-document url("https://lichess.org/") {
	/* Makes the background completely black */
	#top {
		background-color: black;
	}
	#main-wrap {
		background-color: black;
	}

	/* Lichess -> Lobby/Fernschach -> Table */
	.hooks__list {
		background-image: url("wallpapers/desertPlanet.png") !important;
		background-size: 150%;
		background-repeat: no-repeat;
		background-position-x: center;
	}

	/* Lichess -> Schnelles Spiel */
	#main-wrap {
		background-image: url("wallpapers/desertPlanet.png") !important;
		background-size: 77.5%;
		background-repeat: no-repeat;
		background-position-x: center;
	}
}

/* GITHUB */
@-moz-document url("https://github.com/") {
	/* Glowing font for "Top repositories" */
	.wb-break-word {
		color: white; /* Text color */
		text-shadow: 0 0 3px #0096d1, 0 0 6px #0096d1, 0 0 8px #0096d1;
	}

	/* Glowing font for "Latest changes" */
	.TimelineItem-body.mt-n1 a {
		color: white;
		text-shadow: 0 0 1.5px #ff00d4, 0 0 3px #ff00d4, 0 0 4px #ff00d4;
	}

	/* Glowing font for captions (h2) */
	.d-flex.flex-justify-between.flex-items-center h2 {
		color: white;
		text-shadow: 0 0 2px #00a050, 0 0 3.5px #00a050, 0 0 4.5px #00a050;
	}
}

/* YOUTUBE */
@-moz-document url("https://www.youtube.com/") {
	/* Background */
	.ytd-app {
		background-color: black !important;
		background-image: url("wallpapers/desertPlanet.png") !important;
		background-repeat: no-repeat !important;
		background-size: 100% !important;
		/*overflow: visible !important;*/
	}
	.ytd-masthead {
		background-color: black !important;
	}
	.ytd-feed-nudge-renderer {
		visibility: hidden !important;
	}
	/*.ytd-browse {
		visibility: hidden !important;
		background: black !important;
	}
	.ytd-rich-grid-renderer {
		visibility: hidden !important;
	}
	.style-scope.ytd-rich-shelf-renderer {
		visibility: hidden !important;
	}*/
	#contents {
		display: none !important;
	}
	.ytd-browse {
		display: none !important;
	}

	/* Glowing fonts */
	.ytd-guide-entry-renderer {
		color: white !important;
		text-shadow: 0 0 1.5px rgb(231, 92, 0), 0 0 3px rgb(231, 92, 0), 0 0 4px rgb(231, 92, 0);
	}
}
@-moz-document url("https://www.youtube.com/account") {
	/* Background */
	.ytd-app {
		background-color: black !important;
		background-image: url("wallpapers/desertPlanet.png") !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		overflow-y: visible !important;
	}
	.ytd-masthead {
		background-color: black !important;
	}

	/* Settings */
	.yt-icon .style-scope.ytd-page-introduction-renderer span div svg {
		visibility: hidden !important;
	}
}



/* OVERLEAF (not finished yet) */
@-moz-document url("https://www.overleaf.com/project") {
	/* Change color of buttons */
	#new-project-button-sidebar.new-project-button.dropdown-toggle.btn.btn-primary {
		background-color: rgb(0, 220, 220) !important;
	}
	.d-inline-grid.btn.btn-primary {
		background-color: rgb(0, 220, 220) !important;
	}
	/* Hover */
	#new-project-button-sidebar.new-project-button.dropdown-toggle.btn.btn-primary:hover {
		background-color: rgb(0, 162, 162) !important;
	}
	.d-inline-grid.btn.btn-primary:hover {
		background-color: rgb(0, 162, 162) !important;
	}
	.nav-item a:hover {
		background-color: rgb(0, 220, 220) !important;
		border-color: rgb(0, 220, 220) !important;
	}
	.dropdown button:hover {
		background-color: rgb(0, 220, 220) !important;
		border-color: rgb(0, 220, 220) !important;
	}
	
	/* Darkmode: Backgrounds */
	.project-list-main-react {
		background-color: rgb(0, 22, 26);
	}
	.table-container.table-container-bordered {
		background-color: rgb(0, 28, 33) !important;
	}
	.visually-hidden-max-md tr th {
		background-color: rgb(0, 28, 33) !important;
	}
	.project-dash-table.table.table-hover tbody tr td {
		background-color: rgb(0, 28, 33) !important;
	}

	/* TODO: Fix Darkmode: Hover */
	.project-dash-table.table.table-hover tbody tr:hover td {
		background-color: rgb(31, 31, 31) !important;
	}
	.project-dash-table.table.table-hover tbody tr:focus td {
		background-color: rgb(31, 31, 31) !important;
	}
	.project-dash-table.table.table-hover tbody tr:active td {
		background-color: rgb(31, 31, 31) !important;
	}

	/* Glowing color for links */
	.dash-cell-name a {
		color: white !important;
		text-shadow: 0 0 1.5px rgb(0, 184, 184), 0 0 3px rgb(0, 184, 184), 0 0 4px rgb(0, 184, 184);
	}

	/* Caption style */
	.project-list-title.text-truncate.d-none.d-md-block {
		color: white !important;
		text-shadow: 0 0 3px rgb(0, 72, 255), 0 0 6px rgb(0, 72, 255), 0 0 8px rgb(0, 72, 255);
		overflow: visible !important;
	}

	/* Search bar */
	.project-search div div div input {
		background-color: rgb(0, 0, 0) !important;
	}
}
